:root {
  --color-primary: #ffffff;
  --color-bg: #008bfe;
  --font: "Roboto", sans-serif;
}
body {
  font-family: var(--font);
}
.button {
  border: none;
  color: var(--color-primary);
  background-color: var(--color-bg);
}
